.homeAboutLeftTitle{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #767676;
}

.homeAboutLeftContent{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */

    text-align: justify;

    color: #767676;
}

.homeaboutIcon{
    width: 30px;
    height: 30px;
    background: #007EE5;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    color: white;
}


.homeAboutRightTitle{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #767676;
}

.homeAboutRightContent{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #767676;
}


.btn-primary {
    background-color: #007ee5;
    border: 1px solid #007ee5;
    border-radius: 40px;
    opacity: 80%;
    padding: 0.5rem 3.5rem;
  }

  .btn-primary:hover {
    opacity: 100%;
  } 